@import "tailwindcss";

/* Removed empty ruleset for .dark & */

body {
  background-image: url(https://testing.indiantadka.eu/assets/bgTile.png);
}

@layer base {
  * {
    /* border: var(--color-border); */
    outline: 2px solid var(--color-ring / 50%);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
